// Global
#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

// Variables
$half-spacing: 0.5em;
$common-spacing: 1em;

// Components
.sidebar {
  .overview {
    h1 span {
      display: block;
    }
  }
}

.taskmodal {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: $common-spacing auto;
  padding: $common-spacing;

  background: whitesmoke;
  border-radius: 4px;
  outline: none;
}
