// Variables
$common-spacing: 1em;

// Global
#app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: $common-spacing;
}

.tag {
  user-select: none;
}

// Components
header {
  margin: $common-spacing 0 $common-spacing * 2;

  img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}

.sidebar {
  .overview {
    h1 span {
      display: block;
    }
  }
}

.tasklist {
  .tag {
    margin-left: $common-spacing / 2;
  }

  .task-done {
    color: #b5b5b5;

    .is-light {
      color: #b5b5b5;
    }
  }
}

.error {
  position: absolute;
  z-index: 5;
  width: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;

  span {
    white-space: pre-line;
  }
}

.banner {
  display: block;
  width: 100%;
  text-align: center;
  margin: $common-spacing * 2 0;
}
